<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Forgot Password
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="message"></div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input id="username" class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Old password</span>
						<input id="oldPassword" class="input100" type="password" name="oldPassword" placeholder="Enter old password">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">New password</span>
						<input id="newPassword" class="input100" type="password" name="newPassword" placeholder="Enter new password">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div>
							<a href="/login" class="txt1">
								Login to existing account.
							</a>
						</div>
						<div>
							<a href="/register" class="txt1">
								Create new account.
							</a>
						</div>						
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="submit">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

	<script>
			$(function() {
				$('#submit').on('click', function(e) {
					e.preventDefault();
	
					let username = $('#username').val();
					let oldPassword = $('#oldPassword').val();
					let newPassword = $('#newPassword').val();

					if(username == "" || oldPassword == "" || newPassword == "") {
					$('.message').html(`<div class="alert alert-danger alert-dismissible fade show">
											<strong>Error!</strong> Username or Password can't be empty.
										</div>`);
					}
					else if(username.length < 3 || oldPassword.length < 4 || newPassword.length < 4) {
						$('.message').html(`<div class="alert alert-danger alert-dismissible fade show">
												<strong>Error!</strong> enter valid username or password.
											</div>`);
					}
					else {	
						$.ajax({
							type: 'post',
							url: '/forgotpassword',
							data: {username:username, oldPassword:oldPassword, newPassword:newPassword},
							success: function(result) {
								$('#username').val('');
								$('#oldPassword').val('');
								$('#newPassword').val('');

								if(result.msg === "success") {
									$('.message').html(`<div class="alert alert-${result.msg} alert-dismissible fade show">
												<strong>Success!</strong> ${result.msg1}
											</div>`);
								}
								else {
									$('.message').html(`<div class="alert alert-${result.msg} alert-dismissible fade show">
												<strong>Error!</strong> ${result.msg1}
											</div>`);
								}
								console.log(result)
							},
							error: function(result) {
								$('#username').val('');
								$('#oldPassword').val('');
								$('#newPassword').val('');

								$('.message').html(`<div class="alert alert-danger alert-dismissible fade show">
												<strong>Error!</strong> please try again.
											</div>`);
								console.log('error reset password')
							}
						})
					}
				})
			})
		</script>

</body>
</html>